//Here you'll find all the style for insure landing page.


@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');


//Color

$primary: hsl(256, 26%, 20%);
$secondary: hsl(216, 30%, 68%);

$neutral-dark-violet: hsl(270, 9%, 17%);
$neutral-grey-violet: hsl(273, 4%, 51%);
$neutral-light-gray: hsl(0, 0%, 98%);